/* style.css */

/* Reset default margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #420642, #000000);
    color: #ffffff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(29, 17, 39);
    backdrop-filter: blur(10px);
    z-index: -1; 
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(133, 127, 127, 0.1);
}

article {
    margin-bottom: 40px;
}

article h2 {
    color: #222121;
    margin-bottom: 10px;
}

article p {
    color: #ffffff;
}

section {
    padding-bottom: 40px;
}

main {
    padding-bottom: 60px;   
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #fff; /* Menggunakan warna teks dari elemen induk */
    text-decoration: none;
}
